ul#navigation {
  list-style-type: none;  
  padding: 0;
  display: flex;
  justify-content: space-around; 
  background-color: #ffdcc1;
  text-decoration: none;
}

ul#main_page {
  color: rgb(220, 137, 255);
  list-style-type: none;  
  padding: 0;
  display: flex;
  justify-content: space-around; 
  text-decoration: none;
}

a {
    text-transform: capitalize;
}


table#catalog {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}