<!doctype html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'menu.html' %}
    <table id = 'catalog'>
        <thead>
            <tr>
                <th>Название книги</th>
                <th>Автор</th>
            </tr>
        </thead>
        <tbody>
            {% for book in catalog %}
                <tr>
                    <td>
                        <a href="{{ url_for('catalog.book', book_id=book.id) }}">
                            {{ book.name }}
                        </a>
                    </td>
                    <td>{{ book.author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>