{% extends 'base.html' %}

{% block title %}Anaconda's library{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-0" style="margin: 32px auto;">
        <div class="card-header border border-3 bg-snake-s text-center text-white py-4" style="border-radius: 10px;">
            <h1 class="h3 fw-semibold mb-0">
                Anaconda's library
            </h1>
        </div>
        <div class="card-body p-4">
            <p class="p-5 text-center fs-5">
                Добро пожаловать в <strong>Anaconda's library</strong> —
                первую в вебе библиотеку, где книги ищут не черви, а змеи
            </p>

            <div class="d-grid gap-5">
                <a href="{{ url_for('home.profile') }}" class="btn btn-snake btn-lg fw-medium fs-5 shadow">
                    Перейти в профиль
                </a>
                <a href="{{ url_for('catalog.catalog') }}" class="btn btn-snake btn-lg fw-medium fs-5 shadow">
                    Посмотреть каталог
                </a>
            </div>

            {% if not is_auth %}
                <div class="pt-5 d-flex flex-column align-items-start gap-3" style="width: 185px">
                    <a href="{{ url_for('auth.register') }}" class="btn btn-auth text-white fs-6 w-100">
                        <i>Зарегистрироваться</i>
                    </a>
                    <a href="{{ url_for('auth.login') }}" class="btn btn-auth text-white fs-6 w-100">
                        <i>Войти в аккаунт</i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
