{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="post">
    <div>
        <label for="email"><strong>E-mail:</strong></label><br>
        <input type="email" name="email" id="email" required><br><br>
    </div>
    <div>
        <label for="password"><strong>Пароль:</strong></label><br>
        <input type="password" name="password" id="password" required><br><br>
    </div>
    <div>
        <label for="nickname"><strong>Никнейм:</strong></label><br>
        <input type="text" name="nickname" id="nickname" required><br><br>
    </div>
    <div>
        <label for="age"><strong>Возраст:</strong></label><br>
        <input type="number" name="age" id="age" min="10" max="120"><br><br>
    </div>
    <div>
        <label for="genre"><strong>Любимый жанр:</strong></label><br>
        <input type="text" name="favorite_genre" id="genre" placeholder="например: фантастика"><br><br>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться">
    </div>
</form>
<p><a href="{{ url_for('home.home') }}">← На главную</a></p>