{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-0" style="margin: 32px auto;">
        <div class="card-header bg-snake-green text-center text-white" style="border-radius: 10px;">
            <h1 class="h3 mb-0">Регистрация</h1>
        </div>
        <div class="card-body p-4">
            <form method="post">
                <div class="mb-3">
                    <label for="email" class="form-label fw-medium fs-6">e-mail адрес</label>
                    <input type="email" class="form-control"
                           id="email" name="email" placeholder="example@mail.ru" required>
                </div>

                <div class="mb-3">
                    <label for="nickname" class="form-label fw-medium fs-6">Никнэйм</label>
                    <input type="text" class="form-control" minlength="3" maxlength="30"
                           id="nickname" name="nickname" placeholder="Имя в веб-библиотеке" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label fw-medium fs-6">Пароль</label>
                    <input type="password" class="form-control"
                           id="password" name="password" required placeholder="••••••">
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-register text-white fs-6">
                        <i>Зарегестрироваться</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}